:root {
--primary-text-color:#212121;
--dop-text-color:#757575;
--accent-color:#2196F3;
--white-text-color:#FFFFFF;
--primary-background-color: #F5F5F5;
--secondary-background-color: #F5F4FA;
--border-color: #EEEEEE;
}
.page{
background-color: var(--white-text-color);
font-family: 'Roboto', 'sans-serif';
color: var(--primary-text-color);
letter-spacing: 0.03em;
font-weight: 400;
}
.page.portfolio{
background-color: var(--white-text-color);
}
ul {
margin: 0;
padding: 0;
list-style: none;}
.page-header.port{
border-bottom: 1px var(--border-color) solid;
}
.logo{
padding-top: 24px;
padding-bottom: 25px;
margin-right: 93px;
font-weight: 700;
text-decoration: none;
font-family: 'Raleway';
font-size: 26px;
line-height: 1.2;
color: #000000;
}
.logo.footer{
margin-right: 0;
margin-bottom: 28px;
display: inline-block;
padding: 0;
color: #FFFFFF;
}
.part-logo{
color: var(--accent-color);
}
.conteiner{
margin: auto;
margin-top: 0;
width: 1200px;
padding-left: 15px;
padding-right: 15px;
}
.section {
padding-top: 94px;
}
.section.baner {
text-align: center;
margin-top: 0;
padding-top: 0;
}


.conteiner.nav{
display: flex;
align-items: center;
}
.list-nav, .contacts{
display: flex;
}

.list-nav li{
margin-right: 50px;
}
.list-nav li:last-child{
margin-right: 0;
}
.contacts li+li{
margin-left: 40px;
}
.contacts {
margin-left: auto;
}
.list-nav a {
padding-top: 32px;
padding-bottom: 32px;
text-decoration: none;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
color: var(--primary-text-color);
text-align: center;
display: block;
}
.contacts a{
padding-top: 32px;
padding-bottom: 32px;
text-decoration: none;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
color: var(--dop-text-color);
text-align: center;
display: block;
}
.contacts li:hover, .contacts li:focus{
fill: var(--accent-color);
}
.list-nav a:hover, .contacts a:hover, .list-nav a:focus, .contacts a:focus{
color: var(--accent-color);
fill: #2196F3;
}
.list-nav .link-current{
color: var(--accent-color);
}
.baner{
max-width: 1600px;
height: 600px;
margin-left: auto;
margin-right: auto;
background-color: #000000;
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
url(../images/ban.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding-bottom: 200px;
padding-top: 200px;
}
.titel-baner{
margin-top: 0;
margin-bottom: 30px;
font-weight: 900;
font-style: normal;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
color: var(--white-text-color);
text-transform: uppercase;

}

.button {
margin-top: 0;
display: inline-block;
padding: 10px 34px;
min-width: 200px;
font-weight: 700;
font-family: inherit;
background-color: var(--accent-color);
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.06em;
color: var(--white-text-color);
cursor: pointer;
border: none;
border-radius: 6px;
}
.list-benefits{
margin-top: 0;
display: flex;

}

.list-benefits li:not(:last-child){
    margin-right: 30px;
   
}

.list-benefits li{
width: 270px;
}
.cont-benefits{
height: 120px;
width: 270px;
content: "";
    
    
    display: flex;
  justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    margin-bottom: 30px;
    align-items: center;
}
.benefits-icon{


width: 70px;
height: 70px;




}
.titel-benefits {
margin-top: 0;
margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
}
.text-benefits {
margin-top: 0;
margin-bottom: 0;
font-size: 14px;
line-height: 1.7;
color: var(--dop-text-color);      
}


.section.team{
background-color: var(--secondary-background-color);
padding-bottom: 94px;
}
.discription-team{

}
.titel-team, .titel-activities{
margin-top: 0;
margin-bottom: 50px;
font-size: 36px;
line-height: 1.16;
text-align: center;
}
.list-activities-img{
display: flex;
padding-bottom: 94px;
}
.list-activities-img li{
display: block;
margin-right: 30px;
}

.list-activities-img li:last-child{
margin-right: 0;
}
.list-activities-img img{
display: block;
}
.list-team {
display: flex;
}
.discription-team{
padding: 30px 0;
}
.team-discription{
display: block;
margin-right: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
background-color: var(--white-text-color);
}
.list-team li:last-child{
margin-right: 0;
}
.list-team img{
display: block;
}
.caption-team{
margin-top: 0;
margin-bottom: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
}
.text-team{
margin-top: 0;
margin-bottom: 0;
font-size: 16px;
line-height: 1.18;
text-align: center;
color: var(--dop-text-color);
}
.list-icon{
display: flex;
justify-content: center;
margin: 0;
}
.list-icon{
margin-top: 16px;
padding-left: 32px;
padding-right: 32px;
}

.list-icon li{
margin-right: 10px;
}
.list-icon a{
display: block;
   
height: 44px;
width: 44px;
padding: 12px 12px;}
.icon-mail{
margin-right: 10px;
height: 12px;
width: 16px;
fill: currentColor;
}
.icon-phone{

margin-right: 10px;
height: 16px;
width: 10px;
fill: currentColor;
}

.contacts a:hover, .contacts a:focus{
fill: #2196F3;
}
.list-icon a:hover, .list-icon a:focus{
background-color: var(--accent-color);
border-radius: 50%;
}
.list-icon a:hover svg, .list-icon a:focus svg{
fill: var(--white-text-color);
}
.list-icon svg{
height: 20px;
width: 20px;
fill: #afb1b8;
}
.titel-client{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
margin-top: 0;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}
.section.client{
padding-bottom: 94px;
padding-top: 94px;
}

.list-client{
display: flex;
justify-content: center;
align-items: center;
}

.list-client li{

height: 92px;
width: 170px;
}
.list-client li:not(:last-child){
margin-right: 30px;
}
.list-client a{
width: 100%;
height: 100%;
color: #AFB1B8 ;
display: flex;
justify-content: center;
align-items: center;
border: 1px #AFB1B8 solid;
border-radius: 4px;
}

.list-client svg{
fill:currentColor;

}
.list-client a:hover, .list-client a:focus{
color: var(--accent-color) ;
border: 1px var(--accent-color) solid;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.list-icon.footer svg{
height: 20px;
width: 20px;
fill: var(--white-text-color);
    }
.list-icon.footer a {
background-color: rgba(255, 255, 255, 10%);
border-radius: 50%;
}
.list-icon.footer a:hover, .list-icon.footer a:focus{
background-color: var(--accent-color);
border-radius: 50%;
}
.list-icon.footer{
margin-top: 0;
}
.titel-footer{
color: var(--white-text-color);
text-transform: uppercase;
font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.list-buttons{
display: flex;
justify-content:center;
margin-bottom: 50px;

}
.list-buttons li {
margin-right: 8px;
}

.list-buttons li:last-child {
margin-right: 0;
}
.port-button{
margin-top: 0;
padding: 6px 22px;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
cursor: pointer;
background-color: var(--secondary-background-color);
border: none;
color: var(--primary-text-color);
border-radius: 6px;
}
.port-button:hover, .port-button:focus{
margin-top: 0;
display: inline-block;
background-color: var(--accent-color);
color: var(--white-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
border: none;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}
.section.works{
padding-top: 80px;
padding-bottom: 108px;
}
.container.works{
width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    margin-top: 0;
   
}
.list-portfolio{
display: flex;
flex-wrap: wrap;
}
.list-portfolio li{
width: 370px;
margin-right: 30px;
margin-bottom: 30px;
}
.list-portfolio li:nth-child(3n){
margin-right: 0;
}
.list-portfolioli:nth-last-child(-n+3){
margin-bottom: 0;
}
.list-portfolio img{
display: block;
}
.list-portfolio li:hover{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.port-text{
padding: 20px 24px;
margin-top: 0;
width: 370px;
border: 1px var(--border-color) solid;
}

.titel-portfolio{
margin-bottom: 4px;
margin-top: 0;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.text-portfolio{
margin-top: 0;
margin-bottom: 0;
font-size: 16px;
line-height: 2.14;
color: var(--dop-text-color);
}
.footer{
background-color: #2F303A;
}
.conteiner-first{
margin-top: 0;
margin-bottom: 0;
padding-top: 60px;

padding-bottom: 60px;
display:flex;
justify-content: flex-start;
margin: auto;
width: 1200px;
padding-left: 15px;
padding-right: 15px;
}
.list-icon.footer{
padding-top: 0;
}
.cont-footer{
width: 206px;
margin-left: 70px;
}
.conteiner-footer{
width: 231px;
}
.conteiner-footer li{
margin-bottom: 12px;
}
.conteiner-footer li:last-child{
margin-bottom: 0;
}
.list-address a{
font-style: normal;
text-decoration: none;
font-size: 14px;
line-height: 1.7;
color: rgba(255, 255, 255, 0.6)
}
.list-address span{
color: var(--white-text-color);
}